/* Estilos para navegadores basados en Webkit (Chrome, Edge, Safari) */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background: rgba(99, 101, 241, 0.596);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(99, 101, 241, 0.829);
}

::-webkit-scrollbar-track {
  background: #0000001c; /* Color del track */
}

/* Modo oscuro */
.dark ::-webkit-scrollbar-track {
  background: #06005509;
}

.dark ::-webkit-scrollbar-thumb {
  background: rgba(99, 101, 241, 0.377);
}

.dark ::-webkit-scrollbar-thumb:hover {
  background: rgba(99, 101, 241, 0.589);
}